{% extends "tracker/layout.html" %}
{% load static %}

{% block page_title %}Tracker{% endblock %}

{% block style_sheet %}
    <link rel="stylesheet" href="{% static "tracker/style.css" %}" />
{% endblock %}



{% block page_content %}
<main>
    <figure>
      <picture>
        <img       src="https://images.unsplash.com/photo-1568667256549-094345857637?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2030&q=80"
                   alt="library" />
      </picture>
    </figure>
    <form method="post">
      {% csrf_token %}
      <span>
        {{ form.book_name.label_tag }}
        {{ form.book_name}}
      </span>
      <span>
        {{ form.author.label_tag }}
        {{ form.author}}
      </span>
      <span>
        {{ form.genre.label_tag }}
        {{ form.genre}}
      </span>
      <span>
        {{ form.rating.label_tag }}
        {{ form.rating}}
      </span>
      <input class="text-small-uppercase" id="submit" type="submit" value="Done">
    </form>
  </main>

  <script type="text/javascript" src="{% static 'tracker/js/app.js' %}"></script>
{% endblock %}